@model LecturesViewModel
<h1>حذف محاضرة</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <script>
            @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                                                                                var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result, '', 'success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Lectures")';
                            }
                        );
                    </Text>
                }
                else if (@ViewData["Falied"] != null)
                {
                    <Text>
                                                                                var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Lectures")';
                            }
                        );
                    </Text>
                }
            }
        </script>
        <form asp-action="Delete">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="BuildingNo" class="control-label"></label>
                <input asp-for="BuildingNo" class="form-control" />
                <span asp-validation-for="BuildingNo" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>

            </div>
            <div class="form-group">

                <label asp-for="StartLectureTime" class="control-label"></label>
                <input asp-for="StartLectureTime" class="form-control" type="time" />
                <span asp-validation-for="StartLectureTime" class="text-danger"></span>

            </div>
            <div class="form-group">

                <label asp-for="EndLectureTime" class="control-label"></label>
                <input asp-for="EndLectureTime" class="form-control" type="time" />
                <span asp-validation-for="EndLectureTime" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="LectureDate" class="control-label"></label>
                <input asp-for="LectureDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="LectureDate" class="text-danger"></span>

            </div>

          @*   <div class="form-group">

                <label asp-for="LectureDurations" class="control-label"></label>
                <input asp-for="LectureDurations" class="form-control" type="number" />
                <span asp-validation-for="LectureDurations" class="text-danger"></span>

            </div> *@



            <div class="form-group">

                <label asp-for="RoomNo" class="control-label"></label>
                <input asp-for="RoomNo" class="form-control" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>

            </div>

            <div class="d-flex justify-content-end">


                <button type="submit" class="btn btn-primary" title="Delete">حذف</button>
            </div>



        </form>


    </div>


</div>
