@model IEnumerable<FloorViewModel>;

@{
        ViewData["Title"] = "إدارة الطوابق";
}

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0">إدارة الطوابق</h5>
        <div class="d-flex gap-2"  >
            <div class="form-group">
               @*  <form asp-action="Index" asp-controller="Floor"> *@
                    <input name="searchString" type="text" class="form-control table__quick_search"
                           placeholder="البحث السريع ...">
              @*   </form> *@
            </div>

            <a asp-action="ExportFloor" id="btnExport" class="btn btn-primary" >إصدار تقرير</a>
         
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
            <tr>
                <th>أسم المبنى</th>
                <th>رقم المبنى</th>
                <th>رقم الطابق</th>
                <th class=""></th>
            </tr>
            </thead>
            <tbody>
                @{
                    foreach (var x in Model)
                    {

                        <tr>
                            <td>
                                @x.BuildingNameAr

                            </td>
                            <td>
                                @x.BuildingNo

                            </td>
                            <td>
                                @x.FloorNo

                            </td>
                            <td>
                                <a asp-action="EditFloor" asp-route-id="@x.Guid" class="btn btn-sm btn-success">تعديل</a>
                                <a  onclick="confirmDelete(@x.Guid)" data-id="@x.Guid" class="btn btn-sm btn-danger delete-btn">حذف</a>
                            </td>
                        </tr>
                    }
                }
               
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-btn').click(function (event) {
            event.preventDefault(); 

            var id = $(this).data('id');

            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم، احذف!',
                cancelButtonText: 'إلغاء'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete")',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire(
                                    'نجحت العملية!',
                                    'حُذِفت الصلاحية.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'فشلت العملية!',
                                    'لم تُحذف الصلاحية.',
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'خطأ!',
                                'حدث خطأ غير متوقع.',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });

</script>
