@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
   *@


@model IEnumerable<room_reservation.ViewModel.BookingViewModel>;
@{

}

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0"> الطلبات </h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search" id="quickSearch"
                       placeholder="البحث السريع ...">
            </div>

        </div>
    </div>

    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    <th>اسم صاحب الطلب    </th>
                    <th> البريد الالكتروني</th>
                    <th>رقم القاعة </th>
                    <th> تاريخ الحجز  </th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.FullName</td>
                        <td>@x.Email</td>
                        <td>@x.RoomNo </td>
                        <td>@x.BookingDate.ToString("yyyy-MM-dd")</td>

                        <td>
                            <a asp-action="OrderInfo" asp-route-id="@x.guid" class="btn btn-primary btn-small-adjust">عرض</a>

                        </td>
                     </tr> 
                } 
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function search() {
            const searchInput = document.getElementById('quickSearch').value.toLowerCase(); // Use 'quickSearch' instead of 'search'
            const rows = document.querySelectorAll('tbody tr'); // Use the correct selector for the table rows

            rows.forEach(row => {
                const rowText = row.textContent.toLowerCase(); // Get the text content of the entire row

                if (rowText.includes(searchInput)) {
                    row.style.display = ''; // Show rows that match the search
                } else {
                    row.style.display = 'none'; // Hide others
                }
            });
        }})
</script>


   
