@model IEnumerable<FloorViewModel>;


@{

    
        ViewData["Title"] = "إدارة الطوابق";
}

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0">إدارة الطوابق</h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search"
                       placeholder="البحث السريع ...">
            </div>
            <button type="button" class="btn btn-primary" id="btnRedirect">
                إضافة طابق
            </button>
            <script>
                document.getElementById('btnRedirect').onclick = function () {
                    window.location.href = '@Url.Action("Create", "Floor")'; // Replace with your controller action URL
                };
            </script>
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
            <tr>
                <th>أسم المبنى</th>
                <th>رقم المبنى</th>
                <th>رقم الطابق</th>
                <th class=""></th>
            </tr>
            </thead>
            <tbody>
                @{
                    foreach (var x in Model)
                    {

                        <tr>
                            <td>
                                @x.BuildingNameAr

                            </td>
                            <td>
                                @x.BuildingNo

                            </td>
                            <td>
                                @x.FloorNo

                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@x.Guid" class="btn btn-sm btn-success">تعديل</a>
                                
                                <a asp-action="Delete" asp-route-id="@x.Guid" class="btn btn-sm btn-danger">حذف</a>
                            </td>
                        </tr>
                    }
                }
               
            </tbody>
        </table>
    </div>
</div>
