@model IEnumerable< room_reservation.ViewModel.BuildingViewModel>;
@{

}
<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "Building")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Failed"] != null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Failed"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0"> ادارة المباني  </h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search"
                       placeholder="البحث السريع ...">
            </div>
           <!-- <button type="button" asp-action="Add" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#add_section">
                        إضافة  مبنى  
            </button>-->
            <a href="@Url.Action("Add","Building")" class ="btn btn-primary">إضافة مبنى</a>
            <!-- Add Section Modal -->
            <div class="modal fade" id="add_section" tabindex="-1"
                 aria-labelledby="add_sectionLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_sectionLabel">إضافة طلب</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">اسم المبنى </label>
                                <input type="text" name="" id="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">رقم المبنى </label>
                                <input type="text" name="" id="" class="form-control">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                إلغاء
                            </button>
                            <button type="button" class="btn btn-primary">حفظ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.BuildingNameAr)</th>
                    <th>@Html.DisplayNameFor(m => m.BuildingNameEn)</th>
                    <th>@Html.DisplayNameFor(m => m.BuildingNo)</th>
                    <th>@Html.DisplayNameFor(m => m.Code)</th>
                    
                    <th class=""></th>

                </tr>
            </thead> 
            <tbody>
                    @foreach(var x in Model){
                        <tr>
                            <td>@x.BuildingNameAr</td>
                            <td>@x.BuildingNameEn </td>
                            <td>@x.BuildingNo </td>
                            <td>@x.Code </td>
@*                           
 *@                            <td> 
                        <a asp-action="Edit" asp-route-id="@x.Guid" class="btn btn-primary">تعديل</a>
                            <a asp-action="Delet" asp-route-id="@x.Guid" class="btn btn-danger"> حذف </a>
                            
                            </td>
                        </tr>
                    }
                
               
            </tbody>
        </table>
    </div>
</div> 
