@model IEnumerable<room_reservation.ViewModel.BuildingViewModel>;
@{

}
@* <script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "Building")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Failed"] != null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Failed"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>
 *@
<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0"> ادارة المباني  </h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search"
                       placeholder="البحث السريع ...">
            </div>
           
            <a href="@Url.Action("AddBuilding","Building")" class ="btn btn-primary">إضافة مبنى</a>
            <!-- Add Section Modal -->
            <div class="modal fade" id="add_section" tabindex="-1"
                 aria-labelledby="add_sectionLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_sectionLabel">إضافة طلب</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">اسم المبنى </label>
                                <input type="text" name="" id="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">رقم المبنى </label>
                                <input type="text" name="" id="" class="form-control">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                إلغاء
                            </button>
                            <button type="button" class="btn btn-primary">حفظ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.BuildingNameAr)</th>
                    <th>@Html.DisplayNameFor(m => m.BuildingNameEn)</th>
                    <th>@Html.DisplayNameFor(m => m.BuildingNo)</th>
                    <th>@Html.DisplayNameFor(m => m.Code)</th>
                    
                    <th class=""></th>

                </tr>
            </thead> 
            <tbody> *@

    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    <th>اسم المبنى  </th>
                    <th>Building Name </th>
                    <th>رقم المبنى</th>
                    <th>Code</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                    @foreach(var x in Model){
                        <tr>
                            <td>@x.BuildingNameAr</td>
                            <td>@x.BuildingNameEn </td>
                            <td>@x.BuildingNo </td>
                            <td>@x.Code </td>
                            
                            <td> 

                            <a asp-action="EditBuilding" asp-route-id="@x.Guid" class="btn btn-success">تعديل</a>
                            <a onclick="confirmDelete(@x.Guid)" data-id="@x.Guid" class="btn btn-danger delete-btn">حذف</a>

                        </td>
                        </tr>
                    }
                
               
            </tbody>
        </table>
    </div>
</div> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-btn').click(function (event) {
            event.preventDefault();

            var id = $(this).data('id'); // Get the ID from the data-id attribute

            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم، احذف!',
                cancelButtonText: 'إلغاء'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delet")',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire(
                                    'نجحت العملية!',
                                    'حُذِف المبنى .',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'فشلت العملية!',
                                    'لم يحذف المبنى .',
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'خطأ!',
                                'حدث خطأ غير متوقع.',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });

</script>

