@model IEnumerable<room_reservation.ViewModel.LecturesViewModel>
@{
    ViewData["Title"] = " ادارة المحاضرات";
}

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0">إدارة المحاضرات</h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search" placeholder="البحث السريع ..." id="quickSearch">
            </div>
            <a type="button" class="btn btn-primary" href="@Url.Action("AddLecture","Lectures")">
                إضافة محاضرة
            </a>
            <!-- Add Lecture Modal -->
            <div class="modal fade" id="add_lecture" tabindex="-1" aria-labelledby="add_lectureLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_lectureLabel">إضافة محاضرة</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        
                            <div class="form-group">
                                <label for="BuildingNameAR">اسم المبنى</label>
                                <input type="text" id="BuildingNameAR" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Semester">الفصل الدراسي</label>
                                <input type="text" id="Semester" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="StartLectureTime">وقت بدء المحاضرة</label>
                                <input type="time" id="StartLectureTime" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="EndLectureTime">وقت انتهاء المحاضرة</label>
                                <input type="time" id="EndLectureTime" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="LectureDate">تاريخ المحاضرة</label>
                                <input type="datetime-local" id="LectureDate" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="RoomNo">رقم القاعة</label>
                                <input type="text" id="RoomNo" class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                إلغاء
                            </button>
                            <button type="button" class="btn btn-primary">حفظ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                   
                    <th>اسم المبنى</th>
                    <th>الفصل الدراسي</th>
                    <th>وقت بدءالمحاضرة</th>
                    <th>وقت انتهاءالمحاضرة</th>
                    <th>تاريخ المحاضرة</th>
                    <th>رقم القاعة</th>
                    <th class="text-end"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var x in Model)
                    {
                        <tr>
                           
                            <td>@x.BuildingNameAR</td>
                            <td>@x.Semester</td>
                            <td>@x.StartLectureTime</td>
                            <td>@x.EndLectureTime</td>
                            <td>@x.LectureDate</td>
                            
                            <td>@x.RoomNo</td>
                            <td class="text-end">
                                <a asp-action="EditLecture" asp-route-id="@x.Id" class="btn btn-success">تعديل</a>

                                <a onclick="confirmDelete(@x.Id)" data-id="@x.Id" class="btn btn-danger delete-btn">حذف</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-btn').click(function (event) {
            event.preventDefault();

            var id = $(this).data('id'); // Get the ID from the data-id attribute

            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم، احذف!',
                cancelButtonText: 'إلغاء'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("DeleteLecture")',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire(
                                    'نجحت العملية!',
                                    'حُذِفت المجاضرة.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'فشلت العملية!',
                                    'لم تُحذف المحاضرة.',
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'خطأ!',
                                'حدث خطأ غير متوقع.',
                                'error'
                            );
                        }
                    });
                }

            });
        });
    });

</script>

<script>
    $(document).ready(function () {
        $("#quickSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
