@model BookingViewModel
<h1>حذف حجز</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <script>
            @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                                                                                                    var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result, '', 'success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Booking")';
                            }
                        );
                    </Text>
                }
                else if (@ViewData["Falied"] != null)
                {
                    <Text>
                                                                                                    var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Booking")';
                            }
                        );
                    </Text>
                }
            }
        </script>
         asp-action="Delete">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           

            

            <div class="d-flex justify-content-end">


                <button type="submit" class="btn btn-primary" title="Delete">حذف</button>
            </div>



        


    </div>


</div>

