@model IEnumerable<BookingViewModel>

@{
ViewData["Title"] = "الصفحة الرئيسية";
}
<div class="block-header border-bottom px-4 py-4">
    <h5 class="m-0">أبحث عن قاعة</h5>
</div>

<div class="row justify-content-center">
<div class="col-md-8">
    <form asp-action="Index" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label  class="control-label">أسم المبنى</label>
                    <select name="BuildingId" id="BuildingId" class="form-control" asp-items="@ViewBag.Building">
                        <option value="">أختر أسم المبنى</option>
                    </select>
                </div>
                </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label class="control-label">رقم الطابق</label>
                    <select name="FloorId" id="FloorId" class="form-control" asp-items="@ViewBag.Floors" ></select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-4">
                    <label  class="control-label">الاستيعاب</label>
                    <input  class="form-control" type="number"/>
                    <span   class="text-danger"></span>
                </div>
                </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label class="control-label" >نوع القاعة</label>
                    <select name="RoomTypeId" id="RoomTypeId" class="form-control" asp-items="@ViewBag.RoomTypes">
                        <option value="">اختر نوع القاعة</option>
                    </select>
                </div>
                </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary px-3" title="Filter" >تطبيق الفلتر</button>
        </div>
    </form>
</div>
</div>
<div class="block-body">
<table class="table table-hover js-dataTable">

    <thead>
    <tr>
        <th>أسم المبنى</th>
        <th>رقم الطابق</th>
        <th>رقم القاعة</th>
        <th>نوع القاعة</th>
        <th>الاستيعاب</th>
    </tr>
    </thead>
    <tbody>
    @{
    foreach (var x in Model)
    {
    
    <tr>
        <td>
            @x.BuildingNameAr
    
        </td>
        <td>
            @x.FloorNo
    
        </td>
        <td>
            @x.RoomNo
        </td>
        <td>
            @x.RoomAR
    
        </td>
        <td>
            @x.SeatCapacity
        </td>
    </tr>
    }
    }


    </tbody>
</table>
</div>
<script>



    $("#BuildingId").on('change', function () {
        alert("error");
        showValue($(this).val());
    });

    function showValue(val) {
        $.getJSON('@Url.Action("getFloorbyGuid", "Booking")/' + val, function (result) {
            console.log(result);
            $("#FloorId").html(""); // makes select null before filling process
            for (let i = 0; i < result.length; i++) {
                $("#FloorId").append("<option value='" + result[i].Guid + "'>" + result[i].FloorNo+ "</option>")
            }
        });
    }
</script>




