@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<RoomViewModel>
@{
    
ViewData["Title"] = "الصفحة الرئيسية";
}
<div class="block mb-4">
<div class="block-header border-bottom px-4 py-4">
    <h5 class="m-0">ابحث عن قاعة</h5>
</div>
<br/><div class="block-body py-5">
<div class="row justify-content-center">
    <div class="col-md-8">
        <form id="filterForm" asp-action="Index" asp-controller="Booking">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        <label class="control-label">اسم المبنى</label>
                        <select id="BuildingId" name="BuildingGuid" class="form-control" asp-items="@ViewBag.Building">
                            <option value="">غير محدد</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        <label class="control-label">رقم الطابق</label>
                        <select id="FloorId" name="floorGuid" class="form-control">
                            <option value="">غير محدد</option>
                          
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        <label class="control-label">الاستيعاب</label>
                        <input id="SeatCapacity" name="seatCapacity" class="form-control"  type="number" placeholder="الحد الأدنى للاستيعاب"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        <label class="control-label">نوع القاعة</label>
                        <select id="RoomTypeId" class="form-control" name="roomTypeGuid" asp-items="@ViewBag.RoomTypes">
                            <option value="">غير محدد</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-start">
            <button id="applyFilter" class="btn btn-primary">تطبيق الفلتر</button>
            </div>
        </form>
    </div>
    </div>
</div>

@if (Model!= null)
{
    <div class="block-body">
        <table id="datatable" class="table table-hover js-datatable">
            <thead>
            <tr>
                <th>أسم المبنى</th>
                <th>رقم الطابق</th>
                <th>رقم القاعة</th>
                <th>نوع القاعة</th>
                <th>الاستيعاب</th>
            
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BuildingNameAr</td>
                    <td>@item.FloorNo</td>
                    <td>@item.RoomNo
                    <td>@item.RoomAR</td>
                    <td>@item.SeatCapacity</td>
                    <td>
                        <a asp-action="Add" asp-route-id="@item.Guid" class="btn btn-sm btn-primary">حجز</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
}
</div>

<script>
    $(document).ready(function(){
        showValue($("#BuildingId").val());
    });

    $("#BuildingId").on('change', function () {
        showValue($(this).val());
    });

    function showValue(val) {
        $.getJSON('@Url.Action("getFloorbyGuid", "Booking")/' + val, function (result) {
            console.log(result);
            $("#FloorId").html(""); // makes select null before filling process
            console.log(result.length);
            for (let i = 0; i < result.length; i++) {
                $("#FloorId").append("<option value='" + result[i].guid + "'>" + result[i].floorNo+ "</option>")
            }
        });
    }

</script>
@* *@
@* *@
@* <script> *@
@*     document.addEventListener('DOMContentLoaded', function () { *@
@* *@
@*         document.querySelector('#SeatCapacity').addEventListener('input', filterTable); *@
@* *@
@*     }); *@
@* *@
@*     function filterTable() { *@
@* *@
@*         const seatCapacityValue = document.querySelector('#SeatCapacity').value; *@
@* *@
@* *@
@*         const rows = document.querySelectorAll('#datatable tbody tr'); *@
@* *@
@*         rows.forEach(row => { *@
@*      *@
@*             const seatCapacityCell = row.querySelector('td:nth-child(5)').textContent; *@
@*      *@
@* *@
@*             let showRow = true; *@
@* *@
@*             if (buildingValue && buildingCell !== buildingValue) { *@
@*                 showRow = false; *@
@*             } *@
@*             if (floorValue && floorCell !== floorValue) { *@
@*                 showRow = false; *@
@*             } *@
@*             if (seatCapacityValue && parseInt(seatCapacityCell) < parseInt(seatCapacityValue)) { *@
@*                 showRow = false; *@
@*             } *@
@*             if (roomTypeValue && roomTypeCell !== roomTypeValue) { *@
@*                 showRow = false; *@
@*             } *@
@* *@
@*             if (showRow) { *@
@*                 row.style.display = ''; *@
@*             } else { *@
@*                 row.style.display = 'none'; *@
@*             } *@
@*         }); *@
@*     } *@
@* </script> *@
