@model room_reservation.ViewModel.PermissionViewModel

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">إضافة صلاحية</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="AddPermission" id="permissionForm" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="Email" class="mb-1">البريد الإلكتروني</label>
                                <input asp-for="Email" type="email" id="emailInput" placeholder="name@email.com" class="form-control text-start" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label>اسم المستخدم</label>
                                <input readonly id="userNameInput" type="text" class="form-control" placeholder="اسم المستخدم" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="RoleId" class="control-label cb-1">الصلاحية</label>
                                <select asp-for="RoleId" class="form-control" asp-items="@ViewBag.Roles"></select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="BuildingId" class="mb-1">المبنى</label>
                                <select asp-for="BuildingId" class="form-control" asp-items="@ViewBag.Building">
                                    <option value="0">غير محدد</option>
                                </select>
                               
                                <span asp-validation-for="BuildingId" class="text-danger"></span>
                            </div>
                        </div>
                      
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary px-5" title="إضافة">إضافة</button>
                        </div>
                    </div>
                </form>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

                <script>
                    $(document).ready(function () {
                        $('#emailInput').on('blur', function () {
                            var email = $(this).val();

                            if (email) {
                                $.ajax({
                                    url: '@Url.Action("DisaplyUserName")',
                                    type: 'POST',
                                    data: { email: email },
                                    success: function (response) {
                                        if (response.success) {
                                            $('#userNameInput').val(response.userName);
                                        } else {
                                            $('#userNameInput').val('المستخدم غير موجود');
                                        }
                                    },
                                    error: function () {
                                        Swal.fire({
                                            title: 'Error!',
                                            text: 'An unexpected error occurred.',
                                            icon: 'error'
                                        });
                                    }
                                });
                            } else {
                                $('#userNameInput').val(''); 
                            }
                        });

                        $('#permissionForm').submit(function (event) {
                            event.preventDefault(); 

                            $.ajax({
                                url: '@Url.Action("AddPermission")', 
                                type: 'POST',
                                data: $(this).serialize(),
                                success: function (response) {
                                    if (response.success) {
                                        Swal.fire({
                                            title: 'نجحت العملية!',
                                            text: 'أُضِيفَت الصلاحية بنجاح',
                                            icon: 'success'
                                        }).then(() => {
                                            window.location.href = '@Url.Action("Index")'; 
                                        });
                                    } else {
                                        Swal.fire({
                                            title: 'فشلت العملية!',
                                            text: 'لم تُضَاف الصلاحية',
                                            icon: 'error'
                                        });
                                    }
                                },
                                error: function () {
                                    Swal.fire({
                                        title: 'خطأ!',
                                        text: 'حدث خطأ غير متوقع',
                                        icon: 'error'
                                    });
                                }
                            });
                        });
                    });
                    
                </script>
            </div>
        </div>
    </div>
</div>
