@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model room_reservation.ViewModel.BookingViewModel
@{
    ViewData["Title"] = "عرض بيانات طلب الحجز";
}


<div class="block-header border-bottom px-4 py-4">
    <h5 class="m-0">عرض بيانات الحجز</h5>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Details">
            <input hidden asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <!--select from drop down list building no-->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label  asp-for="BuildingNameAr" class="mb-1"> أسم المبنى</label>
                          <input readonly asp-for="BuildingNameAr" type="text" class="form-control" asp-items="@ViewBag.buildingsName"/>
                        <span asp-validation-for="BuildingNameAr" class="text-danger"> </span>
                        <p class="form-control-plaintext">@Model.BuildingNameAr</p>

                    </div>
                </div><!-- END ITEM -->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label asp-for="FloorNo" class="cobtrol-label">رقم الطابق </label>
                         <input readonly asp-for="FloorNo" type="number" class="form-control" />
                        <span asp-validation-for="FloorNo" class="text-danger"></span>
                        <p class="form-control-plaintext">@Model.FloorNo</p>
                    </div>
                </div><!-- END ITEM -->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label asp-for="RoomNo" class="cobtrol-label">رقم القاعة</label>
                        @*  <input asp-for="RoomNo" type="number" class="form-control" />
                        <span asp-validation-for="RoomNo" class="text-danger"></span> *@
                        <p class="form-control-plaintext">@Model.RoomNo</p>
                    </div>
                </div><!-- END ITEM -->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label asp-for="BookingDate" class="cobtrol-label">تاريخ الحجز</label>
                        @* <input asp-for="BookingDate" type="number" class="form-control" />
                        <span asp-validation-for="BookingDate" class="text-danger"></span> *@
                        <p class="form-control-plaintext">@Model.BookingDate.ToString("yyyy-MM-dd")</p>
                    </div>
                </div><!-- END ITEM -->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label asp-for="SeatCapacity" class="cobtrol-label">الاستيعاب</label>
                        @* <input asp-for="SeatCapacity" type="number" class="form-control" />
                        <span asp-validation-for="SeatCapacity" class="text-danger"></span> *@
                        <p class="form-control-plaintext">@Model.SeatCapacity</p>
                    </div>
                </div><!-- END ITEM -->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label asp-for="BookingStart" class="cobtrol-label">بداية الحجز</label>
                        @* <input asp-for="BookingStart" type="number" class="form-control" />
                        <span asp-validation-for="BookingStart" class="text-danger"></span> *@
                        <p class="form-control-plaintext">@Model.BookingStart.ToString("HH:mm")</p>
                    </div>
                </div><!-- END ITEM -->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label asp-for="BookingEnd" class="cobtrol-label">نهاية الحجز</label>
                        @* <input asp-for="BookingEnd" type="number" class="form-control" />
                        <span asp-validation-for="BookingEnd" class="text-danger"></span> *@
                        <p class="form-control-plaintext">@Model.BookingEnd.ToString("HH:mm")</p>
                    </div>
                </div><!-- END ITEM -->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label asp-for="BookingStatues" class="cobtrol-label">حالة الحجز</label>
                        @*    <input asp-for="BookingStatues" type="number" class="form-control" />
                        <span asp-validation-for="BookingStatues" class="text-danger"></span> *@
                        <p class="form-control-plaintext">@Model.BookingStatues</p>
                    </div>
                </div><!-- END ITEM -->
                <!-- START ITEM -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label asp-for="RoomAR" class="cobtrol-label">نوع القاعة</label>
                        @* <input asp-for="RoomAR" type="number" class="form-control" />
                        <span asp-validation-for="RoomId" class="text-danger"></span> *@
                        <p class="form-control-plaintext">@Model.RoomAR</p>
                    </div>
                </div><!-- END ITEM -->


            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success px-5" title="save"> قبول </button>
                <button type="submit" class="btn btn-danger px-5" title="save">  رفض </button>

            </div>
        </form>


    </div>
</div>
